*{
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.background{
    overflow: hidden;
    background-color: #282828 ;
    height: 100vh;

}
.text-area{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 100px;
}

.input textarea{
    line-height: 60px;
    border-color: white;
    height: 60px;
    width: 950px;
    font-size: larger;
    font-weight: 100px;
    border-radius: 15px;
    background-color: #282828 ;
    resize: none;
    color: white;
    overflow: hidden;
}

.text-area button{
    position: relative;
    border-radius: 15px;
    color: black;
    background-color: #3c3c3c ;
    width: 40px;
    height: 40px;
    size: 10px;
    margin-left: -50px;
    border-color: #3c3c3c;
    border: none;
}



.sidebar{
    position: absolute;
    background-color: #141414;
    width: 300px;
    height: 100%;
    overflow-x: hidden;

}
.account-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    width: 250px;
    height: 60px;
    position: relative;
    background-color: #282828 ;
    top: 620px;
    left: 25px;
    
}
.account-box p{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.newchat{
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.newchat:hover{
    background-color: #3c3c3c;
    border-radius: 20px;
}
.newchat img{
    width: 50px;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-color: white;
    border-style:groove;
}
.newchat p{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding-right: 100px;
}
a{
    text-decoration: none;
    color: white;
}
.response{
    position: absolute;
    color: white;
    border-color: white;
    display: flex;
    right: 70px;
    width: 1000px;
    height: 550px;
    flex-direction: column;
    overflow-y: scroll;
}

.buttonelement button{
    background-color: white;
    cursor: pointer;
}
.message{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    overflow-y: none;
}
.message-content{
    font-weight: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.profile-picture img{
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 30px;
    width: 50px;
}

.account-box img{
    width: 50px;
    border-radius: 30px;
    
}

.aimessage{
    background-color: #141414;
}